{
    "extends": [
      "@ganapativs/react",
      "plugin:jsx-a11y/recommended"
    ],
    "env": {
        "browser": true,
        "amd": true,
        "node": true
    },
    "rules": {
        "react/prop-types": 0,
        "react/display-name": 1,
        "no-param-reassign": 1,
        "no-nested-ternary": 1
    }
}
