{
    "extends": "react-app",
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": ["error", {
            "singleQuote": true,
            "printWidth": 80,
            "trailingComma": "all",
            "jsxBracketSameLine": true
        }]
    }
}
