.app__header {
  font-family: monospace;
  margin: 0 auto;
  max-width: 500px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--color-white);
}

.app--comments {
  font-size: 20px;
}

.app--comment {
  color: var(--color-grey);
  font-style: italic;
}

.app--comment-text {
  font-style: italic;
}
